In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('global_superstore_2016.csv', encoding='latin1')
df

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Postal Code,City,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,40098,CA-2014-AB10015140-41954,11-11-2014,11/13/2014,First Class,AB-100151402,Aaron Bergman,Consumer,73120.0,Oklahoma City,...,TEC-PH-5816,Technology,Phones,Samsung Convoy 3,$221.98,2,0.0,$62.15,40.770,High
1,26341,IN-2014-JR162107-41675,02-05-2014,02-07-2014,Second Class,JR-162107,Justin Ritter,Corporate,NaN,Wollongong,...,FUR-CH-5379,Furniture,Chairs,"Novimex Executive Leather Armchair, Black","$3,709.40",9,0.1,($288.77),923.630,Critical
2,25330,IN-2014-CR127307-41929,10/17/2014,10/18/2014,First Class,CR-127307,Craig Reiter,Consumer,NaN,Brisbane,...,TEC-PH-5356,Technology,Phones,"Nokia Smart Phone, with Caller ID","$5,175.17",9,0.1,$919.97,915.490,Medium
3,13524,ES-2014-KM1637548-41667,1/28/2014,1/30/2014,First Class,KM-1637548,Katherine Murray,Home Office,NaN,Berlin,...,TEC-PH-5267,Technology,Phones,"Motorola Smart Phone, Cordless","$2,892.51",5,0.1,($96.54),910.160,Medium
4,47221,SG-2014-RH9495111-41948,11-05-2014,11-06-2014,Same Day,RH-9495111,Rick Hansen,Consumer,NaN,Dakar,...,TEC-CO-6011,Technology,Copiers,"Sharp Wireless Fax, High-Speed","$2,832.96",8,0.0,$311.52,903.040,Critical
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51285,29002,IN-2015-KE1642066-42174,6/19/2015,6/19/2015,Same Day,KE-1642066,Katrina Edelman,Corporate,NaN,Kure,...,OFF-FA-3072,Office Supplies,Fasteners,"Advantus Thumb Tacks, 12 Pack",$65.10,5,0.0,$4.50,1.010,Medium
51286,34337,US-2014-ZD21925140-41765,05-06-2014,05-10-2014,Standard Class,ZD-219251408,Zuschuss Donatelli,Consumer,37421.0,Chattanooga,...,FUR-FU-4070,Furniture,Furnishings,"Eldon Image Series Desk Accessories, Burgundy",$16.72,5,0.2,$3.34,1.930,High
51287,31315,CA-2012-ZD21925140-41147,8/26/2012,8/31/2012,Second Class,ZD-219251404,Zuschuss Donatelli,Consumer,94109.0,San Francisco,...,OFF-AR-5321,Office Supplies,Art,Newell 341,$8.56,2,0.0,$2.48,1.580,High
51288,9596,MX-2013-RB1979518-41322,2/17/2013,2/21/2013,Standard Class,RB-1979518,Ross Baird,Home Office,NaN,Valinhos,...,OFF-BI-2919,Office Supplies,Binders,"Acco Index Tab, Economy",$13.44,2,0.0,$2.40,1.003,Medium
51289,6147,MX-2013-MC1810093-41416,5/22/2013,5/26/2013,Second Class,MC-1810093,Mick Crebagga,Consumer,NaN,Tipitapa,...,OFF-PA-3990,Office Supplies,Paper,"Eaton Computer Printout Paper, 8.5 x 11",$61.38,3,0.0,$1.80,1.002,High

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51290 entries, 0 to 51289
Data columns (total 24 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Row ID          51290 non-null  int64
 1   Order ID        51290 non-null  object
 2   Order Date      51290 non-null  object
 3   Ship Date       51290 non-null  object
 4   Ship Mode       51290 non-null  object
 5   Customer ID     51290 non-null  object
 6   Customer Name   51290 non-null  object
 7   Segment         51290 non-null  object
 8   Postal Code     9994 non-null   float64
 9   City            51290 non-null  object
 10  State           51290 non-null  object
 11  Country         51290 non-null  object
 12  Region          51290 non-null  object
 13  Market          51290 non-null  object
 14  Product ID      51290 non-null  object
 15  Category        51290 non-null  object
 16  Sub-Category    51290 non-null  object
 17  Product Name    51290 non-null  object
 18  Sales           51290 non-null  object
 19  Quantity        51290 non-null  int64
 20  Discount        51290 non-null  float64
 21  Profit          51290 non-null  object
 22  Shipping Cost   51290 non-null  float64
 23  Order Priority  51290 non-null  object
dtypes: float64(3), int64(2), object(19)
memory usage: 9.4+ MB

In [3]:
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Postal Code,City,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,40098,CA-2014-AB10015140-41954,11-11-2014,11/13/2014,First Class,AB-100151402,Aaron Bergman,Consumer,73120.0,Oklahoma City,...,TEC-PH-5816,Technology,Phones,Samsung Convoy 3,$221.98,2,0.0,$62.15,40.77,High
1,26341,IN-2014-JR162107-41675,02-05-2014,02-07-2014,Second Class,JR-162107,Justin Ritter,Corporate,NaN,Wollongong,...,FUR-CH-5379,Furniture,Chairs,"Novimex Executive Leather Armchair, Black","$3,709.40",9,0.1,($288.77),923.63,Critical
2,25330,IN-2014-CR127307-41929,10/17/2014,10/18/2014,First Class,CR-127307,Craig Reiter,Consumer,NaN,Brisbane,...,TEC-PH-5356,Technology,Phones,"Nokia Smart Phone, with Caller ID","$5,175.17",9,0.1,$919.97,915.49,Medium
3,13524,ES-2014-KM1637548-41667,1/28/2014,1/30/2014,First Class,KM-1637548,Katherine Murray,Home Office,NaN,Berlin,...,TEC-PH-5267,Technology,Phones,"Motorola Smart Phone, Cordless","$2,892.51",5,0.1,($96.54),910.16,Medium
4,47221,SG-2014-RH9495111-41948,11-05-2014,11-06-2014,Same Day,RH-9495111,Rick Hansen,Consumer,NaN,Dakar,...,TEC-CO-6011,Technology,Copiers,"Sharp Wireless Fax, High-Speed","$2,832.96",8,0.0,$311.52,903.04,Critical

In [4]:
df.tail()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Postal Code,City,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
51285,29002,IN-2015-KE1642066-42174,6/19/2015,6/19/2015,Same Day,KE-1642066,Katrina Edelman,Corporate,NaN,Kure,...,OFF-FA-3072,Office Supplies,Fasteners,"Advantus Thumb Tacks, 12 Pack",$65.10,5,0.0,$4.50,1.010,Medium
51286,34337,US-2014-ZD21925140-41765,05-06-2014,05-10-2014,Standard Class,ZD-219251408,Zuschuss Donatelli,Consumer,37421.0,Chattanooga,...,FUR-FU-4070,Furniture,Furnishings,"Eldon Image Series Desk Accessories, Burgundy",$16.72,5,0.2,$3.34,1.930,High
51287,31315,CA-2012-ZD21925140-41147,8/26/2012,8/31/2012,Second Class,ZD-219251404,Zuschuss Donatelli,Consumer,94109.0,San Francisco,...,OFF-AR-5321,Office Supplies,Art,Newell 341,$8.56,2,0.0,$2.48,1.580,High
51288,9596,MX-2013-RB1979518-41322,2/17/2013,2/21/2013,Standard Class,RB-1979518,Ross Baird,Home Office,NaN,Valinhos,...,OFF-BI-2919,Office Supplies,Binders,"Acco Index Tab, Economy",$13.44,2,0.0,$2.40,1.003,Medium
51289,6147,MX-2013-MC1810093-41416,5/22/2013,5/26/2013,Second Class,MC-1810093,Mick Crebagga,Consumer,NaN,Tipitapa,...,OFF-PA-3990,Office Supplies,Paper,"Eaton Computer Printout Paper, 8.5 x 11",$61.38,3,0.0,$1.80,1.002,High

In [21]:
df.isnull().sum()

Row ID                0
Order ID              0
Order Date            0
Ship Date             0
Ship Mode             0
Customer ID           0
Customer Name         0
Segment               0
Postal Code       41296
City                  0
State                 0
Country               0
Region                0
Market                0
Product ID            0
Category              0
Sub-Category          0
Product Name          0
Sales                 0
Quantity              0
Discount              0
Profit                0
Shipping Cost         0
Order Priority        0
dtype: int64

In [7]:
df['Order Date']=df['Order Date'] = df['Order Date'].str.replace('/', '-')
df

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Postal Code,City,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,40098,CA-2014-AB10015140-41954,11-11-2014,11/13/2014,First Class,AB-100151402,Aaron Bergman,Consumer,73120.0,Oklahoma City,...,TEC-PH-5816,Technology,Phones,Samsung Convoy 3,$221.98,2,0.0,$62.15,40.770,High
1,26341,IN-2014-JR162107-41675,02-05-2014,02-07-2014,Second Class,JR-162107,Justin Ritter,Corporate,NaN,Wollongong,...,FUR-CH-5379,Furniture,Chairs,"Novimex Executive Leather Armchair, Black","$3,709.40",9,0.1,($288.77),923.630,Critical
2,25330,IN-2014-CR127307-41929,10-17-2014,10/18/2014,First Class,CR-127307,Craig Reiter,Consumer,NaN,Brisbane,...,TEC-PH-5356,Technology,Phones,"Nokia Smart Phone, with Caller ID","$5,175.17",9,0.1,$919.97,915.490,Medium
3,13524,ES-2014-KM1637548-41667,1-28-2014,1/30/2014,First Class,KM-1637548,Katherine Murray,Home Office,NaN,Berlin,...,TEC-PH-5267,Technology,Phones,"Motorola Smart Phone, Cordless","$2,892.51",5,0.1,($96.54),910.160,Medium
4,47221,SG-2014-RH9495111-41948,11-05-2014,11-06-2014,Same Day,RH-9495111,Rick Hansen,Consumer,NaN,Dakar,...,TEC-CO-6011,Technology,Copiers,"Sharp Wireless Fax, High-Speed","$2,832.96",8,0.0,$311.52,903.040,Critical
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51285,29002,IN-2015-KE1642066-42174,6-19-2015,6/19/2015,Same Day,KE-1642066,Katrina Edelman,Corporate,NaN,Kure,...,OFF-FA-3072,Office Supplies,Fasteners,"Advantus Thumb Tacks, 12 Pack",$65.10,5,0.0,$4.50,1.010,Medium
51286,34337,US-2014-ZD21925140-41765,05-06-2014,05-10-2014,Standard Class,ZD-219251408,Zuschuss Donatelli,Consumer,37421.0,Chattanooga,...,FUR-FU-4070,Furniture,Furnishings,"Eldon Image Series Desk Accessories, Burgundy",$16.72,5,0.2,$3.34,1.930,High
51287,31315,CA-2012-ZD21925140-41147,8-26-2012,8/31/2012,Second Class,ZD-219251404,Zuschuss Donatelli,Consumer,94109.0,San Francisco,...,OFF-AR-5321,Office Supplies,Art,Newell 341,$8.56,2,0.0,$2.48,1.580,High
51288,9596,MX-2013-RB1979518-41322,2-17-2013,2/21/2013,Standard Class,RB-1979518,Ross Baird,Home Office,NaN,Valinhos,...,OFF-BI-2919,Office Supplies,Binders,"Acco Index Tab, Economy",$13.44,2,0.0,$2.40,1.003,Medium
51289,6147,MX-2013-MC1810093-41416,5-22-2013,5/26/2013,Second Class,MC-1810093,Mick Crebagga,Consumer,NaN,Tipitapa,...,OFF-PA-3990,Office Supplies,Paper,"Eaton Computer Printout Paper, 8.5 x 11",$61.38,3,0.0,$1.80,1.002,High

In [10]:
df['Ship Date']=df['Ship Date'] = df['Ship Date'].str.replace('/', '-')
df

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Postal Code,City,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,40098,CA-2014-AB10015140-41954,11-11-2014,11-13-2014,First Class,AB-100151402,Aaron Bergman,Consumer,73120.0,Oklahoma City,...,TEC-PH-5816,Technology,Phones,Samsung Convoy 3,$221.98,2,0.0,$62.15,40.770,High
1,26341,IN-2014-JR162107-41675,02-05-2014,02-07-2014,Second Class,JR-162107,Justin Ritter,Corporate,NaN,Wollongong,...,FUR-CH-5379,Furniture,Chairs,"Novimex Executive Leather Armchair, Black","$3,709.40",9,0.1,($288.77),923.630,Critical
2,25330,IN-2014-CR127307-41929,10-17-2014,10-18-2014,First Class,CR-127307,Craig Reiter,Consumer,NaN,Brisbane,...,TEC-PH-5356,Technology,Phones,"Nokia Smart Phone, with Caller ID","$5,175.17",9,0.1,$919.97,915.490,Medium
3,13524,ES-2014-KM1637548-41667,1-28-2014,1-30-2014,First Class,KM-1637548,Katherine Murray,Home Office,NaN,Berlin,...,TEC-PH-5267,Technology,Phones,"Motorola Smart Phone, Cordless","$2,892.51",5,0.1,($96.54),910.160,Medium
4,47221,SG-2014-RH9495111-41948,11-05-2014,11-06-2014,Same Day,RH-9495111,Rick Hansen,Consumer,NaN,Dakar,...,TEC-CO-6011,Technology,Copiers,"Sharp Wireless Fax, High-Speed","$2,832.96",8,0.0,$311.52,903.040,Critical
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51285,29002,IN-2015-KE1642066-42174,6-19-2015,6-19-2015,Same Day,KE-1642066,Katrina Edelman,Corporate,NaN,Kure,...,OFF-FA-3072,Office Supplies,Fasteners,"Advantus Thumb Tacks, 12 Pack",$65.10,5,0.0,$4.50,1.010,Medium
51286,34337,US-2014-ZD21925140-41765,05-06-2014,05-10-2014,Standard Class,ZD-219251408,Zuschuss Donatelli,Consumer,37421.0,Chattanooga,...,FUR-FU-4070,Furniture,Furnishings,"Eldon Image Series Desk Accessories, Burgundy",$16.72,5,0.2,$3.34,1.930,High
51287,31315,CA-2012-ZD21925140-41147,8-26-2012,8-31-2012,Second Class,ZD-219251404,Zuschuss Donatelli,Consumer,94109.0,San Francisco,...,OFF-AR-5321,Office Supplies,Art,Newell 341,$8.56,2,0.0,$2.48,1.580,High
51288,9596,MX-2013-RB1979518-41322,2-17-2013,2-21-2013,Standard Class,RB-1979518,Ross Baird,Home Office,NaN,Valinhos,...,OFF-BI-2919,Office Supplies,Binders,"Acco Index Tab, Economy",$13.44,2,0.0,$2.40,1.003,Medium
51289,6147,MX-2013-MC1810093-41416,5-22-2013,5-26-2013,Second Class,MC-1810093,Mick Crebagga,Consumer,NaN,Tipitapa,...,OFF-PA-3990,Office Supplies,Paper,"Eaton Computer Printout Paper, 8.5 x 11",$61.38,3,0.0,$1.80,1.002,High

In [8]:
df['Order Date']= df['Order Date'].astype('datetime64[ns]')
df['Ship Date']= df['Ship Date'].astype('datetime64[ns]')

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51290 entries, 0 to 51289
Data columns (total 24 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Row ID          51290 non-null  int64
 1   Order ID        51290 non-null  object
 2   Order Date      51290 non-null  datetime64[ns]
 3   Ship Date       51290 non-null  datetime64[ns]
 4   Ship Mode       51290 non-null  object
 5   Customer ID     51290 non-null  object
 6   Customer Name   51290 non-null  object
 7   Segment         51290 non-null  object
 8   Postal Code     9994 non-null   float64
 9   City            51290 non-null  object
 10  State           51290 non-null  object
 11  Country         51290 non-null  object
 12  Region          51290 non-null  object
 13  Market          51290 non-null  object
 14  Product ID      51290 non-null  object
 15  Category        51290 non-null  object
 16  Sub-Category    51290 non-null  object
 17  Product Name    51290 non-null  object
 18  Sales           51290 non-null  object
 19  Quantity        51290 non-null  int64
 20  Discount        51290 non-null  float64
 21  Profit          51290 non-null  object
 22  Shipping Cost   51290 non-null  float64
 23  Order Priority  51290 non-null  object
dtypes: datetime64[ns](2), float64(3), int64(2), object(17)
memory usage: 9.4+ MB

In [8]:
df['Sales']=df['Sales'].replace(r'[\,$()]','', regex=True).astype(float)
df['Sales']

0         221.98
1        3709.40
2        5175.17
3        2892.51
4        2832.96
          ...
51285      65.10
51286      16.72
51287       8.56
51288      13.44
51289      61.38
Name: Sales, Length: 51290, dtype: float64

In [7]:
df['Profit']=df['Profit'].replace(r'[\,$()]','', regex=True).astype(float)
df['Profit']

0         62.15
1        288.77
2        919.97
3         96.54
4        311.52
          ...
51285      4.50
51286      3.34
51287      2.48
51288      2.40
51289      1.80
Name: Profit, Length: 51290, dtype: float64

In [ ]:
### 1. Total, how many orders have cross the shipping cost of 500?

In [15]:
count=df[df['Shipping Cost']>500].shape[0]
count

120

In [ ]:
### 2. Count the number of segments, countries, regions, markets, categories, and 
     ##sub-categories present in the global_superstore_2016 data.

In [30]:
list = ['Segment','Country','Region', 'Market','Category', 'Sub-Category']
for i in list:
    print(f"count of {i} is {df[i].count()}")

count of Segment is 51290
count of Country is 51290
count of Region is 51290
count of Market is 51290
count of Category is 51290
count of Sub-Category is 51290

In [31]:
list = ['Segment','Country','Region', 'Market','Category', 'Sub-Category']
for i in list:
    print(f"count of {i} is {df[i].nunique()}")

count of Segment is 3
count of Country is 165
count of Region is 23
count of Market is 5
count of Category is 3
count of Sub-Category is 17

In [32]:
### 3.Get the list of Order ID's where the Indian customer's have bought the things under the category 'Technology' after paying the Shipping Cost more than 500.

In [36]:
df[(df['Country']=='India')&(df['Category']=='Technology')&(df['Shipping Cost']>500)]['Order ID'].unique().tolist()

['IN-2015-BF1100558-42319',
 'IN-2015-SW2027558-42125',
 'IN-2013-SG2047058-41424',
 'IN-2013-GP1474058-41419']

In [35]:
### 4. Get the list of Order ID's where the Indian customer's have bought the things under the category 'Technology' the Sales greater than 500.

In [37]:
df[(df['Country']=='India')&(df['Category']=='Technology')&(df['Sales']>500)]['Order ID'].unique().tolist()

['IN-2015-BF1100558-42319',
 'IN-2015-SW2027558-42125',
 'IN-2013-SG2047058-41424',
 'IN-2013-GP1474058-41419',
 'IN-2014-SV2081558-41968',
 'IN-2015-AP1072058-42284',
 'IN-2015-CR1282058-42294',
 'IN-2012-AB1010558-41270',
 'IN-2014-CA1277558-41802',
 'IN-2015-AF1088558-42222',
 'IN-2012-CL1270058-41226',
 'IN-2012-MG1820558-40962',
 'IN-2015-CY1274558-42300',
 'IN-2014-MR1754558-41954',
 'IN-2015-CC1247558-42129',
 'IN-2013-NZ1856558-41398',
 'IN-2012-DM1352558-41123',
 'IN-2013-DL1333058-41328',
 'IN-2013-BW1111058-41404',
 'IN-2014-JE1561058-41895',
 'IN-2013-LW1682558-41376',
 'IN-2012-DP1316558-41173',
 'IN-2013-CS1246058-41609',
 'IN-2013-CC1268558-41619',
 'IN-2015-JW1522058-42101',
 'IN-2013-TB2119058-41552',
 'IN-2014-LR1691558-41899',
 'IN-2015-DM1334558-42182',
 'IN-2014-ZC2191058-41760',
 'IN-2014-DK1298558-41863',
 'IN-2014-MS1798058-41801',
 'IN-2014-LB1679558-41893',
 'IN-2014-CC1237058-41710',
 'IN-2014-GZ1447058-41721',
 'IN-2014-AS1028558-41877',
 'IN-2012-LR1703558-41195',
 'IN-2013-SW2024558-41425',
 'IN-2013-FG1426058-41509',
 'IN-2012-DH1367558-41233',
 'IN-2012-GT1471058-41158',
 'IN-2013-EC1405058-41605',
 'IN-2014-RA1928558-41863',
 'IN-2015-RB1946558-42326',
 'IN-2014-MG1820558-41853',
 'IN-2014-AM1036058-41664',
 'IN-2012-DM1295558-41142',
 'IN-2013-DP1316558-41623',
 'IN-2013-HH1501058-41576',
 'IN-2015-LB1679558-42033',
 'IN-2014-AB1060058-41858',
 'IN-2015-KW1657058-42083',
 'IN-2014-BO1135058-41783',
 'IN-2015-GW1460558-42173',
 'IN-2013-NG1843058-41319',
 'IN-2014-AS1013558-41817',
 'IN-2015-JH1618058-42277',
 'IN-2013-MD1786058-41544',
 'IN-2012-BF1121558-40955',
 'IN-2014-AA1064558-41779',
 'ID-2014-MJ1774058-41814',
 'IN-2015-RB1946558-42355',
 'IN-2012-KB1660058-41046',
 'ID-2014-EM1396058-41901',
 'IN-2014-NG1843058-41996',
 'IN-2013-RB1936058-41405',
 'IN-2012-EH1399058-41187',
 'IN-2013-LB1673558-41604',
 'IN-2015-RE1945058-42346',
 'IN-2013-RL1961558-41550',
 'IN-2014-MH1745558-41893',
 'ID-2013-CR1273058-41517',
 'IN-2015-CC1237058-42160',
 'IN-2014-DW1348058-41852',
 'IN-2014-TB2159558-41968',
 'IN-2014-CM1238558-41755',
 'IN-2015-SV2093558-42321',
 'IN-2014-MS1798058-41867',
 'IN-2015-JO1528058-42242',
 'IN-2015-VP2173058-42085',
 'IN-2014-NL1831058-41927',
 'IN-2012-SC2023058-41081',
 'IN-2015-JR1570058-42290',
 'IN-2015-VP2176058-42293',
 'IN-2012-JS1588058-41058',
 'IN-2012-DL1349558-41215',
 'IN-2012-BM1178558-41124',
 'IN-2012-MV1819058-40988',
 'IN-2014-SZ2003558-41776',
 'IN-2013-AR1034558-41531',
 'IN-2013-RO1978058-41296',
 'IN-2013-BF1102058-41556',
 'IN-2015-CP1234058-42239',
 'IN-2012-LC1696058-41241',
 'IN-2014-CS1213058-41816',
 'IN-2015-DJ1363058-42153',
 'IN-2015-AO1081058-42224',
 'IN-2013-AR1057058-41632',
 'IN-2014-VT2170058-41804',
 'IN-2015-CC1210058-42237',
 'IN-2012-DA1345058-41264',
 'IN-2012-LA1678058-41247',
 'IN-2013-CD1228058-41311',
 'IN-2014-JJ1544558-41723',
 'IN-2015-MK1816058-42330',
 'IN-2015-LF1718558-42320',
 'IN-2012-ST2053058-41150',
 'IN-2013-JG1531058-41447',
 'IN-2015-ED1388558-42168',
 'IN-2012-GH1448558-41191',
 'IN-2015-CS1250558-42173',
 'IN-2015-Co1264058-42326',
 'IN-2013-AB1001558-41284',
 'IN-2014-MZ1751558-41775',
 'IN-2013-PF1916558-41550',
 'IN-2012-JG1580558-41061',
 'IN-2014-TM2101058-41895',
 'IN-2014-KE1642058-41997',
 'IN-2013-ML1741058-41572',
 'IN-2012-HR1483058-41171',
 'IN-2015-EM1414058-42194',
 'IN-2015-RR1931558-42225',
 'IN-2015-CC1268558-42228',
 'IN-2012-BD1163558-41259',
 'IN-2015-KD1634558-42029',
 'IN-2013-AJ1094558-41299',
 'IN-2015-LT1711058-42126',
 'IN-2015-CP1234058-42202',
 'IN-2013-MC1727558-41611',
 'IN-2015-BS1175558-42064',
 'IN-2014-AH1007558-41896',
 'IN-2013-JS1568558-41371',
 'IN-2014-GZ1454558-41733',
 'IN-2015-AS1013558-42229',
 'IN-2012-CA1277558-41214',
 'IN-2015-NZ1856558-42137',
 'IN-2014-SC2002058-41851',
 'IN-2015-CC1267058-42342',
 'IN-2014-DW1319558-41857',
 'IN-2013-RW1963058-41405',
 'IN-2014-AC1045058-41814',
 'IN-2014-JF1519058-41944',
 'ID-2013-VF2171558-41566',
 'IN-2014-AP1072058-41926',
 'IN-2015-BG1103558-42253',
 'IN-2014-SP2054558-42003',
 'IN-2014-SF2020058-41919',
 'IN-2014-JR1621058-41850',
 'IN-2013-ML1826558-41503',
 'IN-2015-HG1484558-42339',
 'IN-2013-MA1799558-41565']

In [38]:
### 5. How many people from the State 'Karnataka' have bought the things under the category 'Technology'?

In [23]:
df[(df['State']=='Karnataka')&(df['Category']=='Technology')]['Customer Name'].shape[0]

21

In [24]:
df[(df['State']=='Karnataka')&(df['Category']=='Technology')]['Customer Name'].count()

21

In [26]:
df[(df['State']=='Karnataka')&(df['Category']=='Technology')]['Customer Name'].nunique()

16

In [9]:
df['Profit']= df['Profit'].astype(float)
df['Sales']= df['Sales'].astype(float)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51290 entries, 0 to 51289
Data columns (total 24 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Row ID          51290 non-null  int64
 1   Order ID        51290 non-null  object
 2   Order Date      51290 non-null  object
 3   Ship Date       51290 non-null  object
 4   Ship Mode       51290 non-null  object
 5   Customer ID     51290 non-null  object
 6   Customer Name   51290 non-null  object
 7   Segment         51290 non-null  object
 8   Postal Code     9994 non-null   float64
 9   City            51290 non-null  object
 10  State           51290 non-null  object
 11  Country         51290 non-null  object
 12  Region          51290 non-null  object
 13  Market          51290 non-null  object
 14  Product ID      51290 non-null  object
 15  Category        51290 non-null  object
 16  Sub-Category    51290 non-null  object
 17  Product Name    51290 non-null  object
 18  Sales           51290 non-null  float64
 19  Quantity        51290 non-null  int64
 20  Discount        51290 non-null  float64
 21  Profit          51290 non-null  float64
 22  Shipping Cost   51290 non-null  float64
 23  Order Priority  51290 non-null  object
dtypes: float64(5), int64(2), object(17)
memory usage: 9.4+ MB

In [27]:
### 6. Get the list of countries where the 'Profit' and 'Shipping Cost's are greater than or equal to 2000 and 300 respectively.

In [14]:
df[(df['Profit']>=2000)&(df['Shipping Cost']>=300)]['Country'].count()

23

In [31]:
### 7. Find the list of Indian states where the people have purchased the things under the category Technology.

In [38]:
df[(df['Category'] =='Technology' ) & (df['Country'] == 'India')]['State']

41              Haryana
48            Jharkhand
55       Madhya Pradesh
90                Delhi
130             Gujarat
              ...
39631            Kerala
40262            Punjab
42345             Bihar
43976         Telangana
51172        Tamil Nadu
Name: State, Length: 354, dtype: object

In [39]:
### 8. Find the overall rank of "India" where the 'Profit' is maximum under the category 'Technology'.

In [23]:
# SIR WILL EXPLAIN

# Step 1: Filter data for Technology category
tech_df = df[df['Category'] == 'Technology']

# Step 2: Group by Country (or State if required), and sum the Profit
country_profit = tech_df.groupby('Country')['Profit'].sum()

# Step 3: Rank the countries based on Profit (descending = highest profit is rank 1)
ranked = country_profit.rank(ascending=False, method='max')

# Step 4: Get the rank of India
india_rank = ranked['India']
print(f"India's rank: {india_rank}")

India's rank: 5.0

In [43]:
### 9. Display the data with min, max, average and std of 'Profit' & 'Sales' for each Sub-Category under each Category

In [44]:
df.groupby(['Sub-Category', 'Category'])[['Profit', 'Sales']].describe()

                             Profit                     Sales         \
                              count unique     top freq count unique
Sub-Category Category
Accessories  Technology        3075   2121  $0.00    43  3075   1936
Appliances   Office Supplies   1742   1456  $0.00    16  1742   1403
Art          Office Supplies   4864   2195  $0.00   102  4864   2193
Binders      Office Supplies   6146   2724  $0.00    83  6146   2766
Bookcases    Furniture         2411   1953  $0.00    16  2411   1756
Chairs       Furniture         3434   2600  $0.00    69  3434   2366
Copiers      Technology        2223   1696  $0.00    35  2223   1601
Envelopes    Office Supplies   2387   1511  $0.00    25  2387   1496
Fasteners    Office Supplies   2601   1418  $0.00    28  2601   1492
Furnishings  Furniture         3154   2126  $0.00    28  3154   2006
Labels       Office Supplies   2601   1213  $0.00    37  2601   1311
Machines     Technology        1486   1204  $0.00    12  1486   1159
Paper        Office Supplies   3492   1879  $6.22    44  3492   1860
Phones       Technology        3357   2464  $0.00    12  3357   2231
Storage      Office Supplies   5049   2911  $0.00    97  5049   2680
Supplies     Office Supplies   2407   1501  $0.00    27  2407   1525
Tables       Furniture          861    803  $0.00     5   861    779


                                   top freq
Sub-Category Category
Accessories  Technology        $47.98    11
Appliances   Office Supplies  $170.64     6
Art          Office Supplies   $29.01    20
Binders      Office Supplies   $30.30    25
Bookcases    Furniture        $825.36     7
Chairs       Furniture        $111.06     8
Copiers      Technology       $479.98     8
Envelopes    Office Supplies   $54.18     9
Fasteners    Office Supplies   $21.96    15
Furnishings  Furniture         $50.40    14
Labels       Office Supplies   $17.28    16
Machines     Technology       $301.77     6
Paper        Office Supplies   $12.96    53
Phones       Technology       $302.38    10
Storage      Office Supplies   $48.00    18
Supplies     Office Supplies   $87.96     9
Tables       Furniture        $318.09     3

In [19]:
df.groupby([ 'Category'])['Profit'].agg(['min','max' ,'mean','std'])

                 min      max        mean         std
Category
Furniture        0.0  2750.28  103.993361  180.070281
Office Supplies  0.0  4946.37   33.449787  105.804789
Technology       0.0  8399.98  121.957546  250.933282

In [20]:
df.groupby([ 'Category'])['Sales'].agg(['min','max' ,'mean','std'])

                  min       max        mean         std
Category
Furniture        1.89   5759.96  416.881646  553.291338
Office Supplies  0.44   9892.74  121.048786  299.252828
Technology       0.99  22638.48  467.859063  708.972731

In [17]:
df.groupby(['Sub-Category'])['Profit'].agg(['min','max' ,'mean','std'])

              min      max        mean         std
Sub-Category
Accessories   0.0  1345.50   68.078569  114.962574
Appliances    0.0  3979.08  154.726515  273.611285
Art           0.0   371.23   20.795995   27.376060
Binders       0.0  4946.37   28.994784  151.740030
Bookcases     0.0  2316.51  151.313799  201.464319
Chairs        0.0  2211.17   96.845271  158.250662
Copiers       0.0  8399.98  180.685070  337.885306
Envelopes     0.0   279.36   21.188395   26.633151
Fasteners     0.0   127.26   10.178531   11.610903
Furnishings   0.0   561.96   32.919220   48.025021
Labels        0.0   385.38    8.654617   14.863848
Machines      0.0  6599.98  145.500404  318.019250
Paper         0.0   352.30   22.540272   28.645818
Phones        0.0  4088.38  121.999809  229.382876
Storage       0.0   802.17   51.603367   81.462674
Supplies      0.0  1049.34   24.472530   38.919895
Tables        0.0  2750.28  260.352021  316.342028

In [18]:
df.groupby(['Sub-Category'])['Sales'].agg(['min','max' ,'mean','std'])

                min       max        mean         std
Sub-Category
Accessories    0.99   3449.88  243.654400  327.224372
Appliances     0.44   7958.58  580.100896  798.680507
Art            1.34   1113.02   76.400843   82.090796
Binders        0.56   9892.74   75.149705  288.673033
Bookcases     35.49   5667.87  608.283928  602.487538
Chairs        13.55   5759.96  437.298241  535.097972
Copiers       35.46  17499.95  679.008776  821.101120
Envelopes      1.63    604.66   70.891320   70.009550
Fasteners      1.24    271.32   34.407993   29.317593
Furnishings    1.89   1519.14  122.116725  145.810487
Labels         1.67    786.48   28.200903   34.178941
Machines      11.51  22638.48  524.266703  928.001009
Paper          3.38    733.95   69.240455   74.755398
Phones         2.97   6998.64  508.437489  717.305537
Storage        2.80   2962.68  223.175635  292.236933
Supplies       2.92   8187.65  100.877084  272.156490
Tables        24.37   5451.30  879.259199  796.402515